[alias]
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	server = !git daemon --reuseaddr --verbose --base-path=. --export-all --enable=receive-pack ./.git
	view = !gitk $* &
    stat = diff --stat
[core]
	excludesfile = ~/.git_global_ignore
	autocrlf = false
# Used for personal details, might use personal e-mail at home.
[include]
    path = ~/.localgitconfig
[push]
	default = simple
[color]
	ui = auto
[diff]
	tool = kdiff3
