<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="launchyqt" />
    <package id="autohotkey.install" />
    <package id="gawk" />
    <package id="sysinternals" />
    <package id="palemoon" />
    <package id="notepadplusplus.install" />
    <package id="dejavufonts" />
    <package id="vim" />
    <package id="kitty" />
    <package id="adobereader" />
    <package id="totalcommander" />
    <package id="irfanview" />
    <package id="irfanviewplugins" />
    <package id="iridium-browser" />
    <package id="kdiff3" />
    <package id="tortoisegit" />
    <package id="git-cola" />
    <package id="logexpert" />
    <package id="baretail" />
    <package id="hourglass.install" />
</packages>
